@{
    Layout = "_Layout";
    ViewData["Title"] = "Inicio";
}

<div class="container mt-5">
    <div class="text-center">
        <h1 class="fw-bold text-primary">¡Bienvenido a EventCorp!</h1>
        <p class="text-muted">Organiza eventos de manera fácil y eficiente</p>
        <a href="/Account/Register" class="btn btn-primary btn-lg">Regístrate gratis</a>
    </div>
</div>

@section Scripts {
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
}
