################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Grupo_6_CE2_LN/FileContentIndex/2c66a3b8-1655-4c87-bb5f-535869d43fae.vsidx
/.vs/Grupo_6_CE2_LN/FileContentIndex/7f200653-d421-4f8e-8786-d74d8f3395b5.vsidx
/.vs/Grupo_6_CE2_LN/FileContentIndex/ac76a39a-d43c-467f-aa81-092810a82860.vsidx
/.vs/Grupo_6_CE2_LN/FileContentIndex/d43fcd2f-5317-4fab-ad60-3cd3ed12ce6f.vsidx
/.vs/Grupo_6_CE2_LN/FileContentIndex/efb4948e-612b-4594-8fe0-471f6c426ee9.vsidx
/.vs/Grupo_6_CE2_LN/DesignTimeBuild/.dtbcache.v2
/.vs/Grupo_6_CE2_LN/DesignTimeBuild/.dtbcache.v2
/.vs/Grupo_6_CE2_LN/v17/.suo
/.vs/Grupo_6_CE2_LN/v17/.wsuo
/.vs/Grupo_6_CE2_LN/v17/DocumentLayout.backup.json
/.vs/Grupo_6_CE2_LN/v17/DocumentLayout.json
/.vs/ProjectEvaluation/grupo_6_ce2_ln.metadata.v9.bin
/.vs/ProjectEvaluation/grupo_6_ce2_ln.projects.v9.bin
/.vs/ProjectEvaluation/grupo_6_ce2_ln.strings.v9.bin
/.vs/Grupo_6_CE2_LN/DesignTimeBuild/.dtbcache.v2
