# Visual Studio
.vs/
.vscode/
# Archivos de usuario
*.user
*.userosscache
*.suo
*.userprefs

# Archivos de compilación
bin/
obj/

# Archivos de configuración de los entornos de desarrollo
*.dbmdl
*.bak

# Archivos de configuración de diseño de documentos de Visual Studio
.vsconfig

# Archivos específicos de la solución
*.suo
*.userosscache

# Caché y configuraciones de IDEs
.vscode/
.idea/

# Otros archivos generados por Visual Studio
*.vsix
