@model IEnumerable<EventCorp.Models.Evento> 

@{
    ViewData["Title"] = "EventosOrganizador";
}

<h1>Mis Eventos y Usuarios Inscritos</h1>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Evento</th>
            <th>Cupo Máximo</th>
            <th>Fecha</th>
            <th>Usuarios Inscritos</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var evento in Model)
        {
            <tr>
                <td>@evento.Titulo</td>
                <td>@evento.CupoMaximo</td>
                <td>@evento.Fecha.ToString("yyyy-MM-dd")</td>
                <td>
                    @foreach (var inscripcion in evento.Inscripciones)
                    {
                        <p>@inscripcion.Usuario.UserName</p>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
